/*fonts*/
$akzidenz:'AkzidenzGroteskBE-BoldCn';
$helvetica:'Helvetica Neue', Helvetica, Arial, sans-serif;
$myiriad:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
/*colors*/
$crema:#fcf1d4;
$gris:#373234;
$rojo:#892123;
$rojo_claro:#c49091;