/*fonts*/
$akzidenz:'AkzidenzGroteskBE-BoldCn';
$helvetica:'Helvetica Neue', Helvetica, Arial, sans-serif;
$myiriad:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
/*colors*/
$crema:#fcf1d4;
$gris_oscuro:#222;
$gris_oscuro_dos:#5e6169;
$gris_oscuro_tres:#3a3c44;
$gris_claro_back:#e4e3e3;
$gris_medio:#757575;
$gris_link:#231f20;
$rojo:#c20e0e;
$rojo_claro:#c49091;
$celeste:#53b1da;
$verde:#5db358;
$azul:#1E5799;