.actividad-wrapper{
	height:10px;
	margin-top:50px;
	li{
		padding:0 10px;
		border-right: 1px solid;
	}


}

.activity-type-tabs{
	float:left;
	li{
		float:left;
		border-right:1px solid $gris_oscuro_tres;
		padding:0 10px;
	}

	 @include max-screen(1200px) {
			   width:100%;
			   ul{
				display:table;
				width:100%;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				 li{
					display:table-cell;
					float:none;
					text-align: center;
				 }
			   }
			}
}

.item-list-tabs.no-ajax{
	float:right;
	li{
		float:left;
	}
	@include max-screen(1200px) {
		width: 100%;
		li{
			float:none;
			text-align: center;
			border-right:none;
			margin-top:20px;
		}
	}
}

div.activity{
	ul{
		list-style:none;
		padding:0;
		margin-top:20px;
		li{
			background: #FFF;
			margin-bottom: 20px;
		
			.activity-avatar{
				float:left;
				width:50px;
				margin-top:10px;
				margin-left:10px;
				img{
					max-width: 100%;
					height:auto;
				}
			}
			.activity-content{
				margin-left:65px;
				margin-bottom: 20px;
				padding:10px;

				.bpfb_images{
					img{
						display: block;
						margin-left:auto;
						margin-right:auto;
						position:relative;
						max-width: 100%;
					}

					br{
						display:none;
					}
				}
			}

			.activity-time-since{
				display: block;
				width: 100%;
				color: #BBB;
			}

			.activity-comments{
				clear: left;
				background: #E8E8E8;
				width: 100%;
				
				li{
					padding:5px;
					margin-bottom:0px;

					form{
						padding-top:0;
					}
					
					
				}
				.acomment-avatar{
					float:left;
				}

				.comment-wrapper{
					margin-left:60px;
					background:#FFF;
					padding:10px;
					border-radius:10px;
					position:relative;
					word-wrap: break-word;
					&:after{
						content: "";
						position: absolute;
						top: 16px;
						left: -20px;
						bottom: auto;
						border-width: 5px 20px 5px 0;
						border-color: transparent #FFF;
						border-style:solid;
					}
					.acomment-meta{
						border-bottom:1px solid #CCC;
					}


				}
				
				.acomment-options{
						margin-left:60px;
						margin-top:10px;
					}
				

				form{
					textarea{
						height: 35px;
						resize: none;
					}
				}

				li{
					background:none;

					li{
						border-left:1px solid #CCC;
						margin-left:20px;
					}
				}
			}

			.comment-wrapper{
				float:none;
			}

			input.loading{
						background: #CCC;
					}
			.like-unlike-wrapper{
				position:relative;
				display: inline-block;
				padding-left:35px;
			}
			.dedos{
				background:url(img/dedos.gif) no-repeat;
				width: 40px;
				height: 50px;
				display: inline-block;
				margin-right: -10px;
				position:absolute;
				top:-20px;
				left:0;
				background-position:0 0;

				&.tres-dedos{
					background-position:-160px 0;
				}
			}
			.tachito-wrapper, .fav-wrapper, .comenta-wrapper{
				position:relative;
				display: inline-block;
				padding-left:30px;
			}
			.tachito{
				background:url(img/tachito.gif) no-repeat;
				width: 40px;
				height: 50px;
				display: inline-block;
				margin-right: -10px;
				position:absolute;
				top:-5px;
				left:0;
				background-position:0 0;
			}

			.guardar{
				background:url(img/guardar.gif) no-repeat;
				width: 40px;
				height: 50px;
				display: inline-block;
				margin-right: -10px;
				position:absolute;
				top:-6px;
				left:0;
				background-position:0 0;
			}

			.comenta{
				background:url(img/comenta.gif) no-repeat;
				width: 26px;
				height: 27px;
				display: inline-block;
				margin-right: -10px;
				position:absolute;
				top:-4px;
				left:0;
				background-position:0 0;
			}
		}

	}

	a{
		color:$rojo;
	}

	.activity-inner{
		margin-bottom:30px;
		iframe{
			width:100%;
			min-height: 400px;
		}
	}

	.activity-meta{
		float:left;
		clear:left;
		border-top: 1px solid;
   		padding-top: 20px;
   		width: 90%;
		a{
			display: inline-block;
			height: 40px;
			position:relative;
			margin-right:20px;
		}

		.gracias{
			padding-left:35px;
		}

		.like-text{
				position:relative;
				z-index: 2;
				left:35px;
			}

		.users-who-like{
			margin: 0;
		    padding: 0;
		    background: #DDD;
		    background: #EEE;
		    margin-bottom: 10px;
		    a{
		    	height:auto;
		    	margin-right:0;
		    }
		}
	}

	.activity-header{
		border-bottom:1px solid #CCC;
		margin-bottom: 10px;
		p{
			color: #666;
			margin-bottom:0;
		}
	}

	.bpfb_final_link{
		overflow: auto;
		border-left: 1px solid #CCC;
		margin-bottom: 20px;
		.bpfb_link_contents{
			width:90%;
		}
	}

	.ac-form{
		margin:10px;
		padding-top:10px;
		overflow:auto;
		padding-bottom:0;
		margin-bottom: 0;
		.ac-reply-avatar{
			float:left;
			padding:0;
		}

		textarea{
			width:100%;
			padding:5px;
		}


	}
}

