.actividad-wrapper{
	height:10px;
	li{
		padding:0 10px;
		border-right: 1px solid;
	}
}

.activity-type-tabs{
	float:left;
	li{
		float:left;
		border-right:1px solid $gris_oscuro_tres;
		padding:0 10px;
	}
}

.item-list-tabs.no-ajax{
	li{
		float:left;
	}
float:right;
}

div.activity{
	ul{
		list-style:none;
		padding:0;
		margin-top:20px;
		li{
			background: #FFF;
			margin-bottom: 20px;
    		padding: 10px;
    		overflow: auto;
		
			.activity-avatar{
				float:left;
			}
			.activity-content{
				float:left;
				margin-left:10px;
				margin-bottom: 20px;
			}

			.activity-time-since{
				display: block;
				width: 100%;
				color: #BBB;
			}

			.activity-comments{
				clear: left;
				background: #CCC;
				width: 100%;

				form{
					display:none;
				}

				li{
					background:none;
				}
			}
		}

	}

	a{
		color:$rojo;
	}
}

