.agenda{

	.posteos{
		li{
			background: #FFF;
			padding:10px;
			margin-bottom: 20px;
			h3{
				font-size: 2rem;
				padding:0;
				margin:0 0 5px 0;
			}
			.date{
				color: $gris_medio;
				border-bottom: 1px solid;
				padding:5px;
				margin-bottom:4px;
			}
			.imagen{
				padding:0;
				img{
					width: 100%;
					height: auto;
				}
			}
		&.finalizado{
			color: #999;
			h3{
				color: #999;
				margin-top:10px;
			}
			small{
				background:$rojo;
				color: #FFF;
				padding:5px;
				float:right;
			}
		}
		}
	}
}