#sidebar{
	position:fixed;
	height:100%;
	top:0;
	z-index:13;
	padding-top:40px;
	@include max-screen(1000px) {
	        display:none;
	        height:auto;
	    }
	#main-menu{
		width: 210px;
		background:$gris_oscuro_dos;
		height: 100%;
		float:left;
		list-style: none;
		padding:0;
		li{
			padding:0;
			margin:0;
			text-align: center;
			margin-top: 5px;

			&.muro{
				h3{
					border-left:2px solid $verde;
				}
			}

			&.quiero{
				h3{
					border-left:2px solid $celeste;
					cursor:pointer;
				}
				.selected{
					background:$celeste;
				}

				ul{
					display:none;
				}

			}

			&.hacer{
				h3{
					border-left:2px solid $rojo;
					cursor:pointer;
				}
				.selected{
					background:$rojo;
				}

				ul{
					display:none;
				}
			}

			a{
				color: #C6C6C6;
			}

			h3{
				background:$gris_oscuro_tres;
				color: #C6C6C6;
			    font-size: 2rem;
			    text-transform: uppercase;
			    font-family: 'Montserrat';
			    height: 50px;
			    line-height: 50px;
			    text-align: left;
			    margin:0;padding:0;
				padding-left: 10px;
			    &:hover{
			    	background:$rojo;
			    	color:#FFF;
			    }
			    span{
			    	margin-right:10px;
			    }
			}

			ul{
				padding-left:10px;
				li{
					text-align: left;
					padding:5px;
					a{
						color: #FFF;
					}
					&.selected{
						display: block;
					}

					span{
						display: block;
					}
				}
			}
		}
	}


	.buscador{
		display:none;
	}

	&.open{
		display:block;
	}
}

.admin-bar #sidebar{
	padding-top:70px;
}