.blog{
	header{
		background: #d0d7da;
		padding: 10px;
	}

	.bt{
		overflow: auto;		
	}

	.escribir{
		background:#799199;
		color: #FFF;
		padding:10px;
		float:right;
		display: block;
		cursor:pointer;
	}

	.editor{
		display: none;
		

	}

	.posteos{
		margin-top:50px;
		.fotos{
			background:#FFF;
			overflow: auto;
			margin-bottom: 20px;
			padding:0;
			&.odd{
				.contenido{
					float:left;
				}
				.foto{
					float:right;
				}
			}
			&.even{
				.contenido{
					float:right;
				}
				.foto{
					float:left;
				}
			}

			img{
				max-width: 100%;
				height: auto;
			}

		}
	}
}

.editor-wrap{
	width:60%;
	float:left;
	margin-top:10px;

		#toolbar{
			background:#CCC;
			padding:5px;
			overflow: auto;
		}
	textarea{
		width:100%;
		margin-top:0;
	}

	.wysihtml5-command-active {
	    background:#000;
	    color: #FFF;
	  }
	  .bold{
	  	font-weight: bold;
	  }
	  .italic{
	  	font-style: italic;
	  }
	  .bold,.italic{
	  	font-size: 1.7rem;
	    border: 1px solid #666;
	    width: 30px;
	    padding: 5px;
	    display: block;
	    float: left;
	    text-align: center;
	    margin-right: 5px;
	  }

} 