body.groups{

	#item-header-avatar{
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.bpfb_form_container{
		clear:left;
	}

	.item-list-tabs.no-ajax{
		float:left;
	}

	#item-header-avatar{
		padding:0;margin:0;
	}

	#item-header{
		margin-bottom: 20px;
	}

	#subnav-admin{
		@include controles-conf(16.666%);
	}

	.form-admin{
		overflow: hidden;
		clear: left;
		input, label,textarea{
			float:left;
		}
		label{
			clear:left;
			width:25%;
			text-align:right;
			padding-right: 5px;
			border-right: 1px solid;
		}
		.submit-container{
			width: 100%;
			clear:left;
		}
		input,textarea{
			margin-left:5px;
			margin-bottom: 10px;
			width: 50%;
		}
		input[type="submit"]{
			float:right;
			width:auto;
		}

		textarea{
			min-height: 100px;
		}

		.opciones-privacidad{
			label{
				width: 60%;
				margin-bottom: 10px;
			}
		}
	}

	.dir-form{
		.col-md-10{
			padding-left:0;
		}
	}

	.dir-search{
		margin:10px 0;
	}

	#group-cover-image{
		display: none;
	}
}

.herramientas-grupos{
	background:#000;
	color:#FFF;
	padding:5px;
	
	#object-nav{
		float:right;
		ul{
			float:left;
			border-left:1px solid;
		}
		a{
			border-right: 1px solid;
			padding:0 5px;
			color: #FFF;
		}
	}
}

#group-dir-count-top{
	width:100%;
	background:$rojo_claro;
	padding:5px;
}

ul#groups-list{
	margin-top:20px;
	li{
		border-bottom:1px solid;
		padding-bottom:10px;
		margin-bottom:10px;
		.item-avatar{
			float:left;
		}
		.item{
			padding-left:60px;
			.item-title{
				font-weight: bold;
				font-size:1.6rem;
			}
		}

		.action{
			a{
				color: $rojo;
			}
		}
	}
}
#item-header-content{
	.generic-button a{
		@include boton();
	}
}

#member-list{
	li{
		border-bottom: 1px solid;
		margin-bottom: 10px;
		background: #FFF;
		padding-bottom: 10px;
		.col-md-1{
			padding:0;
		}
		.col-md-11{
			padding-left:0;
		}

		h5{
			a{
				color: $rojo;
			}
		}
	}
}