.site-content{
	padding-left:150px;
	position:relative;	
	a{
		color:$gris_link;
	}

	&.right-side-opens{
		padding-right:210px;
	}
}

.home-page{
	
}


.standard-form, #primaryPostForm{
	overflow:auto;
	width:100%;
		label{
			clear:left;
			float:left;
			width:40%;
			text-align:right;
			padding-right:5px;
			margin-top:5px;
		}
		input,textarea,select{
			float:left;
			margin-top:5px;
		}

		input[type="submit"], button[type="submit"]{
			float:right;
		}
	
	.field-visibility-settings-toggle,	.field-visibility-settings-notoggle{
		display: none;
	}

}

#quiero-mapeo{
	width:100%;
	height:500px;
}