#members-list{
	background:#FFF;
	li{
		background:#FFF;
		overflow: auto;
		padding:10px;
		margin-bottom:10px;
	}
	.item-avatar{
		float:left;
		margin-right:10px;
	}
	.item{
		float:left;
	}

	a{
		color:$rojo;
	}
}

#message-threads{

	td{
		padding:5px;
		background:#FFF;

		&.bulk-select-check{
			width:5%;
			.bp-screen-reader-text{
				display: none;
			}
		}

		&.thread-from{
			width:35%;
			img{
				float:left;
				margin-right:5px;
			}
		}

		.thread-excerpt{
			display:none;
		}
	}
}