.proyectos{
	h1{

	}
	h2{
		font-size:2.5rem;
		font-style: italic;
	}
	p{

	}
	ul{
		overflow:auto;
		margin-left:-40px;
		li{
				float:left;
			    margin-left: 41px;
			    margin-bottom: 20px;
			a{
				border:2px solid #FFF;
				display:block;
				&:hover{
					border:2px solid $rojo;
				}
			}

			img{
				max-width:100%;
			}
		}
	}
}