#content .bpfb_form_container{
	background:$gris_claro_back;
}
#whats-new-form{
	padding:20px 20px 0 20px;
	background:#FFF;
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
	width:70%;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	@include max-screen(700px) {
		        width:100%;
		    }
	textarea{
		height: 90px;
		width: 100%;
		border:none;
		resize: none;
	}

	#whats-new-content{
		border-bottom:1px solid;
	}

	#whats-new-avatar{
		float:left;

		img{
			border-radius:5px;
		}
	}

	h5{
		margin-left:70px;
	}

	#whats-new-textarea{
		margin-left:70px;
	}

	#aw-whats-new-submit, #bpfb_cancel_action{
		float:right;
		background:$rojo;
		color: #FFF;
		border-radius:5px;
		border:0;
		padding:5px 10px;
		margin-bottom:10px;
	}

	

	#whats-new-post-in-box{
		display: none;
	}

	.bpfb_actions_container{
		width: 60%;
		float:left;
		margin-bottom: 0;
	}

	.bpfb_toolbar_container{
		a{
			background-repeat:no-repeat;
		}
		#bpfb_addPhotos{
			background-image:url(img/foto_icon.jpg);
			width:65px;
		}

		#bpfb_addVideos{
			background-image:url(img/video_icon.jpg);
			width:75px;
		}

		#bpfb_addLinks{
			background-image:url(img/web_icon.jpg);
			width:62px;
		}

		@include max-screen(700px) {
		        #bpfb_addPhotos, #bpfb_addVideos, #bpfb_addLinks{
		        	width: 21px;
		        };
		    }	
	}
	.bpfb_actions_container{
		width:100%;
	}
	.bpfb_controls_container{
		#bpfb_tmp_photo{
			float:left;
			.qq-uploader{
				margin-right:10px;

				.qq-upload-button{
					background:$rojo;
				}
			}
		}
	}

	#bpfb_submit, #bpfb_submit, #bpfb_cancel, #bpfb_cancel{
			@include boton();
		}
	
	#bpfb_cancel_action,#bpfb_cancel, #bpfb_cancel{
		background:$azul;
	}

	.bpfb_preview_container, .bpfb_preview_container{
		td{
			padding:10px;
		}
	}

	.bpfb_preview_container{
		margin-bottom:0;
	}

	
}