.modal-wrapper{
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	display:none;
	.modal{
		background:#FFF;
		border-radius: 10px;
		height: 90vh;
		top:10%;
		position: relative;
    	overflow: auto;
    		
    	.cerrar{
    		position: absolute;
    		top: 10px;
    		right: 10px;
    		cursor:pointer;
    	}

    	.inner-modal{
    		margin-top:50px;
			padding-bottom: 50px;

			.image-wrapper{
				float:left;
				width: 100%;
				img{
					display: block;
					margin-left:auto;
					margin-right: auto;
				}
			}
    		h2{
    			margin-top:20px;
    			font-size:2.8rem;
    		}
    		p{
    			margin-top:20px;
    		}

    		img{
    			max-width: 100%;
    		}
    		.epigrafe{
    			background:#DDD;
    			clear:left;
    			padding:5px;
    			border-bottom:1px solid #333;
    			p{
    				margin:0;
    			}
    		}

    		a{
    			color:#c11e2a;
    		}
    	}
	}
}

footer{
	background:$rojo;
	height:20vh;
	margin-top:60px;

	img{
		float:right;
		margin-top:20px;
	}
}