
#main-header{
	padding-bottom:20px;
	border-bottom:0px solid #FFF;
	background:#FFFFFF;
	position:relative;
	z-index:1;
	-webkit-box-shadow: -4px 6px 22px 0px rgba(0,0,0,0.57);
	-moz-box-shadow: -4px 6px 22px 0px rgba(0,0,0,0.57);
	box-shadow: -4px 6px 22px 0px rgba(0,0,0,0.57);
	@include screen(320px,480px) { 
				height:80px;
			}
	.container{
		@include screen(320px,480px) { 
				padding-right:0px;
			}


	}
	
	img{
		margin-top:16px;
		margin-left:auto;
		margin-right: auto;
		display: block;
		max-width: 100%;
		@include screen(320px,480px) { 
				width:48%;
			}
	} 
	
	a{
		float:left;
		color:#FFF;
		h2{
			margin-top: 4px;
			float: left;
			clear: left;
		}
		&:hover{
				h2{
					color:#000;
				}
		}
	}
	.main-link{
		float:none;
	}
    .meses{
		display: none;
		position: absolute;
		top: 80px;
		right:0px;
		background: #000;
		color: #FFF;
		width: 400px;
		li{
			list-style: none;
			padding:0;
			a{
				color:#FFF;
				display: block;
				padding: 10px;
				width:100%;
				&:hover{
					background:$rojo;
				}
			}
		}
	}

	.container{
		position: relative;
		background:#FFF;

	}
	
	
	hgroup{
		float:left;
		margin-left: -160px;
		color: #FFF;
		margin-top: 20px;
			@include screen(320px,480px) { 
				padding:0;
				margin:25px 0 0 0;
				text-align: right;
				float:right;
			}
		}

	h2{
		font-size: 1.8rem;
		font-style: italic;
		@include screen(320px,480px) { 
				font-size:1.2rem;
			}
	}
	h3{
		@import url('https://fonts.googleapis.com/css?family=Roboto:400');
		color:#000000;
		font-family:'Roboto',sans-serif;
		font-size: 2.1rem;
		line-height: 40px;
		@include max-screen(992px) { 
				font-size:1.2rem;
			}
	}

	h4{
		@import url('https://fonts.googleapis.com/css?family=Roboto:400');
		color:#000;
		font-family:'Roboto',sans-serif;
		text-align:center;
		font-size:1.8rem;
		cursor:pointer;
		line-height: 40px;
		&.selected{
			color: $rojo;
		}
		@include max-screen(992px) { 
				font-size:1.2rem;
			}
		@include screen(320px,480px) { 
				display:none;
			}
	}

	.form-wrap{
		position:relative;		
	}
	.search-form{
		position:absolute;
		width: 100%;
		right: 0;
		top:0;
		background:$rojo;
		padding:5px;
		-o-transition:.5s;
 		-ms-transition:.5s;
  		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		line-height: 30px;
		input{
			float:left;
		}
		input[type="search"]{
			width:77%;
			top:0;
			left:0;
			background:none;
			border:none;
			outline: none;
			color: #FFF;
			padding-left:5px;
			&::-webkit-input-placeholder { color:#FEB3B6; }
			&::-moz-placeholder { color:#FEB3B6; } /* firefox 19+ */
			&:-ms-input-placeholder { color:#FEB3B6; } /* ie */
			&:-moz-placeholder { color:#FEB3B6; }
		}

		button{
			padding:5px;
			background:#FFF;
			float:right;
		}

		&.active{
			width:300%;
		}
	}

	div.vertical{
		margin-top:20px;
	}
}

h1.nombremes{
    width: 100%;
    position: absolute;
    padding: 10px;
    font-size: 0rem;
    z-index:0;
}
