.map-container{
	background:#FFF;
	margin-top:60px;
	padding:20px 0;
	
	h1{
		@import url('https://fonts.googleapis.com/css?family=Roboto:700');
		color:#000000;
		font-family:'Roboto',sans-serif;
		font-size:4rem;
		margin-bottom:10px;
		text-align: center;
	}
	
	p{
		color:#000000;
		margin-bottom: 10px;
		text-align: center;
	}

	svg{
		background: transparent;
		display: block;
		margin-left:280px;
		margin-right: auto;
		width: 540px;
		margin-top: -130px;
		margin-bottom: -100px;


		#sec_1{
			fill:#C6A87D;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_2{
			fill:#C6A87D;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_3{
			fill:#C6A87D;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_4{
			fill:#89C6E5;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_5{
			fill:#A8D6C4;
			&:hover{
			fill:$rojo;
			}
		}


		#sec_6{
			fill:#97A7AF;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_7{
			fill:#FCCB7C;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_8{
			fill:#E2ACAC;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_9{
			fill:#E1ACAC;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_10{
			fill:#ED8083;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_11{
			fill:#AFABD5;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_12{
			fill:#F5D2D2;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_13{
			fill:#DDAA78;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_14{
			fill:#F9F19C;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_15{
			fill:#B9C576;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_16{
			fill:#D2C897;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_17{
			fill:#F6C389;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_18{
			fill:#DDAA78;
			&:hover{
			fill:$rojo;
			}
		}
	

		#sec_19{
			fill:#E2C6B5;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_20{
			fill:#F5D2D2;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_21{
			fill:#AFABD5;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_S2{
			fill:#EA5C5F;
			&:hover{
			fill:$rojo;
			}
		}
		
		polygon, path{
			cursor:pointer;
			pointer-events:all;
		}

	}
}