.map-container{
	background:$rojo;
	margin-top:60px;
	padding:20px 0;
	
	h1{
		font-size:4rem;
		color: #FFF;
		margin-bottom:10px;
	}
	
	p{
		color:#FFF;
		margin-bottom: 20px;
	}

	svg{
		background:#FFF;
		display: block;
		margin-left:auto;
		margin-right: auto;

		#sec_1{
			fill:#A8A8A8;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_2{
			fill:#B0B0B0;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_3{
			fill:#707070;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_4{
			fill:#7F7F7F;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_5{
			fill:#828282;
			&:hover{
			fill:$rojo;
			}
		}


		#sec_6{
			fill:#B8B8B8;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_7{
			fill:#B3B3B3;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_8{
			fill:#C2C2C2;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_9{
			fill:#BFBFBF;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_10{
			fill:#CFCFCF;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_11{
			fill:#D4D4D4;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_12{
			fill:#D3D3D3;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_13{
			fill:#D9D9D9;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_14{
			fill:#E0E0E0;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_15{
			fill:#EDEDED;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_16{
			fill:#C7C7C7;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_17{
			fill:#DADADA;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_18{
			fill:#C3C3C3;
			&:hover{
			fill:$rojo;
			}
		}
	

		#sec_19{
			fill:#BFBFBF;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_20{
			fill:#A8A8A8;
			&:hover{
			fill:$rojo;
			}
		}
		
		#sec_21{
			fill:#ABABAB;
			&:hover{
			fill:$rojo;
			}
		}

		#sec_S2{
			fill:#A8A8A8;
			&:hover{
			fill:$rojo;
			}
		}
		
		polygon, path{
			cursor:pointer;
			pointer-events:all;
		}

	}
}