.single{
	.image-wrapper{
		margin-top:2rem;
		max-height: 450px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}

	h1{
		font-size:4rem;
		margin-top:2rem;
	}
	.expert{
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 2rem;
		line-height: 2.5rem;
		border-bottom: 1px dashed #666;
		padding-bottom: 40px;
	}
	.content{
		margin-top:40px;
		font-size:1.8rem;
		line-height: 2.3rem;
		&:first-letter{
				font-size:3.5rem;	
			}
		p{
			margin-bottom: 1.5rem;
		
			
		}

		h2{
			font-size:2.5rem;
		}
		h3{
			font-size:2.3rem;
		}

		h2,h3{
			padding:20px 0;
		}
		img{
			max-width: 100%;
			height: auto;
		}
		img.alignnone{
			display:block;
			margin-left:auto;
			margin-right: auto;
			border:4px solid #333;
		}

		a{
			color:$rojo;
			
			&:hover{
				color:#000;
			}
		}
	}

	.dos-col-texto{
		padding:0;
		.expert{
			margin-top:0;
		}
	}

	.dos-col-title{
		margin-bottom: 20px;
	}
	.col-md-6{
		img{
			max-width: 100%;
		}
	}
}