.main-header{
	width:100%;
	background:url(img/back-header.jpg);
	overflow:hidden;
	@include min-screen(1000px) {
	display: flex;
  	align-items: center;
  justify-content: center;
}
	.cumplimos{
		text-indent: -10000px;
		background: url(img/cumplimos-header.png) no-repeat;
		height: 0;
		max-width: 709px;
		background-size: contain;
		margin-top:10px;
		width: 100%;
		padding-top: 50%;
	}

	.propuestas{
		max-width: 1010px;
		background-size: 100%;
		margin-top:10px;
		width: 100%;
		img{
			max-width: 100%;
		}
	}

}