.version.entrevistas /* version checker */
{
	color: #0000E9;
	background-color: #22B1CF;
}

.html
{
	background: #FFFFFF url("../images/textured_paper.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2772px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 44px;
	margin-left: auto;
	margin-right: auto;
}

#u16729
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: -217px;
}

#u16892
{
	z-index: 23;
	height: 57px;
	background-color: #EAEAEA;
	position: fixed;
	top: -1px;
}

#u16892-bw
{
	z-index: 23;
}

#u16893
{
	z-index: 24;
	width: 57px;
	height: 333px;
	border-style: none;
	border-color: transparent;
	background-color: #EAEAEA;
	-webkit-transform: matrix(0,-1,1,0,-138,195);
	-ms-transform: matrix(0,-1,1,0,-138,195);
	transform: matrix(0,-1,1,0,-138,195);
	position: fixed;
	top: -139px;
	left: 138px;
}

#u16941
{
	z-index: 123;
	height: 3px;
	background-color: #C1272D;
	position: fixed;
	top: 55px;
}

#u16941-bw
{
	z-index: 123;
}

#u16939
{
	z-index: 121;
	width: 22px;
	background-color: transparent;
	position: fixed;
	top: 18px;
	left: 15px;
}

#pamphletu16894
{
	z-index: 25;
	width: 0.01px;
	height: 55px;
	position: fixed;
	top: 0px;
	left: 53px;
}

#u16901
{
	position: absolute;
	width: 239px;
	background-color: transparent;
	top: 56px;
	left: -53px;
}

#u16901popup
{
	z-index: 26;
}

#u16921
{
	z-index: 27;
	width: 239px;
	height: 420px;
	border-style: none;
	border-color: #FFFFFF;
	background-color: #333333;
	padding-bottom: 26px;
	margin-right: -10000px;
	position: relative;
}

#u16922
{
	z-index: 32;
	width: 239px;
	height: 153px;
	border-color: #EAEAEA;
	position: relative;
	background: #FFFFFF url("../images/suma.jpg") no-repeat left top;
	background-size: cover;
}

#u16925-4
{
	z-index: 33;
	width: 110px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 19px;
	position: relative;
}

#u16923-4
{
	z-index: 28;
	width: 207px;
	min-height: 165px;
	padding-left: 10px;
	padding-top: 18px;
	text-align: left;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 3px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 3px;
	position: relative;
}

.drop_down
{
	border-style: none;
	border-color: #4C4C4C;
	background-color: transparent;
}

#u16924-4
{
	z-index: 37;
	width: 195px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 19px;
	position: relative;
}

#u16924-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 195px;
	margin: 19px 0px 0px 17px;
}

#u16907
{
	z-index: 41;
	width: 239px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	margin-right: -10000px;
	position: relative;
}

#u16912
{
	z-index: 49;
	width: 239px;
	height: 153px;
	border-color: #EAEAEA;
	position: relative;
	background: #FFFFFF url("../images/video_blog.jpg") no-repeat left top;
	background-size: cover;
}

#u16909-4
{
	z-index: 50;
	width: 155px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 18px;
	position: relative;
}

#u16911-4
{
	z-index: 54;
	width: 207px;
	min-height: 101px;
	padding-left: 10px;
	padding-top: 18px;
	text-align: left;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 2px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 4px;
	position: relative;
}

#paccordionu16917
{
	width: 0.01px;
	margin-top: 4px;
}

#accordionu16917wrapper
{
	min-height: 43px;
	z-index: 42;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#accordionu16917
{
	z-index: 42;
	width: 221px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u16918
{
	z-index: 43;
	width: 221px;
	background-color: transparent;
	position: relative;
}

#u16920-4
{
	z-index: 44;
	width: 211px;
	min-height: 24px;
	padding-left: 10px;
	padding-top: 18px;
	line-height: 14px;
	font-weight: normal;
	position: relative;
}

#u16920-4:hover
{
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 211px;
	margin: 0px;
}

#u16920-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16920
{
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	line-height: 12px;
}

#u16919
{
	z-index: 48;
	width: 221px;
	height: 1px;
	border-color: #FFFFFF;
	background-color: #2B2B2B;
	position: relative;
}

#u16919::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 18px rgba(0,0,0,0.05), inset 0px 0px 18px rgba(0,0,0,0.05);
}

#u16915
{
	z-index: 66;
	width: 238px;
	height: 1px;
	background-color: #282828;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u16910
{
	z-index: 68;
	width: 238px;
	height: 1px;
	background-color: #282828;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u16914-4
{
	z-index: 58;
	width: 202px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 14px;
	position: relative;
}

#u16914-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 202px;
	margin: 14px 0px 0px 16px;
}

#u16908
{
	z-index: 67;
	width: 238px;
	height: 1px;
	background-color: #282828;
	margin-top: 9px;
	position: relative;
}

#u16916-4
{
	z-index: 62;
	width: 127px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 11px;
	position: relative;
}

#u16913
{
	z-index: 69;
	width: 238px;
	height: 1px;
	background-color: #282828;
	margin-top: 9px;
	position: relative;
}

#u16927
{
	z-index: 70;
	width: 239px;
	height: 420px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	padding-bottom: 26px;
	margin-right: -10000px;
	position: relative;
}

#u16929
{
	z-index: 71;
	width: 239px;
	height: 153px;
	border-color: #EAEAEA;
	position: relative;
	background: #FFFFFF url("../images/img_carta_ok.jpg") no-repeat left top;
	background-size: cover;
}

#u16930-4
{
	z-index: 80;
	width: 213px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 18px;
	position: relative;
}

#u16928-4
{
	z-index: 76;
	width: 207px;
	min-height: 173px;
	padding-left: 10px;
	padding-top: 18px;
	text-align: left;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 3px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 4px;
	position: relative;
}

#u16931-4
{
	z-index: 72;
	width: 201px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 11px;
	position: relative;
}

#u16931-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 11px 0px 0px 17px;
}

#u16926
{
	z-index: 84;
	width: 239px;
	height: 421px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	padding-top: 2px;
	padding-bottom: 23px;
	margin-right: -10000px;
	position: relative;
}

#u17034
{
	z-index: 97;
	width: 239px;
	height: 153px;
	border-color: #EAEAEA;
	position: relative;
	background: #FFFFFF url("../images/fotos_menu_actualizaciones.jpg") no-repeat left top;
	background-size: cover;
}

#u17031-4
{
	z-index: 85;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 21px;
	position: relative;
}

#u17032-4
{
	z-index: 89;
	width: 207px;
	min-height: 121px;
	padding-left: 10px;
	padding-top: 18px;
	text-align: left;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 2px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 4px;
	position: relative;
}

#u17033-4
{
	z-index: 93;
	width: 205px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 61px;
	position: relative;
}

#u17033-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 61px 0px 0px 16px;
}

#u16902
{
	z-index: 98;
	width: 239px;
	height: 421px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	padding-bottom: 25px;
	margin-right: -10000px;
	position: relative;
}

#u16921::before,#u16907::before,#u16927::before,#u16926::before,#u16902::before
{
	box-shadow: none;
}

#u16904
{
	z-index: 111;
	width: 239px;
	height: 153px;
	border-color: #EAEAEA;
	position: relative;
	background: #FFFFFF url("../images/menu_los_tres.jpg") no-repeat left top;
	background-size: cover;
}

#u16905-4
{
	z-index: 107;
	width: 213px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 18px;
	position: relative;
}

#u16906-4
{
	z-index: 103;
	width: 207px;
	min-height: 166px;
	padding-left: 10px;
	padding-top: 18px;
	text-align: left;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 3px;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 5px;
	position: relative;
}

#u16903-4
{
	z-index: 99;
	width: 201px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 17px;
	position: relative;
}

#u16903-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 17px 0px 0px 17px;
}

#u16924-4:hover p,#u16920-4:hover p,#u16920-4:hover span,#u16914-4:hover p,#u16931-4:hover p,#u17033-4:hover p,#u16903-4:hover p
{
	color: #C92127;
	visibility: inherit;
}

#u16895
{
	z-index: 112;
	width: 280px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u16898
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: solid;
	border-color: #CCCCCC;
	left: 114px;
	border-width: 1px 0px;
	background: transparent url("../images/suma_negro.png") no-repeat center center;
	background-size: contain;
}

#u16898:hover
{
	border-style: solid;
	border-color: #999999;
	width: 54px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
	border-width: 1px 0px;
	background: #333333 url("../images/suma_blanco.png") no-repeat center center;
	background-size: contain;
}

#u16898.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	width: 54px;
	height: 55px;
	min-height: 1px;
	margin: 0px 0px 1px;
	background: #333333 url("../images/suma_blanco.png") no-repeat center center;
	background-size: cover;
}

#u16899
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: solid;
	border-color: #CCCCCC;
	left: 170px;
	border-width: 1px 0px;
	background: transparent url("../images/icono_video_normal.png") no-repeat center center;
	background-size: contain;
}

#u16899:hover
{
	border-style: solid;
	border-color: #999999;
	width: 54px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
	border-width: 1px 0px;
	background: transparent url("../images/icono_video_normal.png") no-repeat center center;
	background-size: contain;
}

#u16899.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	width: 54px;
	height: 55px;
	min-height: 1px;
	margin: 0px 0px 1px;
	background: #333333 url("../images/icono_video_roll_activo.png") no-repeat center center;
	background-size: cover;
}

#u16897
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: solid;
	border-color: #CCCCCC;
	left: 57px;
	border-width: 1px 0px;
	background: transparent url("../images/carta_activo.png") no-repeat center center;
	background-size: contain;
}

#u16897:hover
{
	border-style: solid;
	border-color: #999999;
	width: 54px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
	border-width: 1px 0px;
	background: transparent url("../images/carta_activo.png") no-repeat center center;
	background-size: contain;
}

#u16897.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	width: 54px;
	height: 55px;
	min-height: 1px;
	margin: 0px 0px 1px;
	background: #333333 url("../images/carta_blanco.png") no-repeat center center;
	background-size: cover;
}

#u16900
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: solid;
	border-color: #CCCCCC;
	left: 226px;
	border-width: 1px 0px;
	background: transparent url("../images/icono_blog.png") no-repeat center center;
	background-size: contain;
}

#u16900:hover
{
	border-style: solid;
	border-color: #999999;
	width: 54px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
	border-width: 1px 0px;
	background: transparent url("../images/icono_blog.png") no-repeat center center;
	background-size: contain;
}

#u16900.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	width: 54px;
	height: 55px;
	min-height: 1px;
	margin: 0px 0px 1px;
	background: #333333 url("../images/icono_blog_blanco.png") no-repeat center center;
	background-size: cover;
}

#u16896
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px 0px;
	background: transparent url("../images/vector_tres.png") no-repeat center center;
	background-size: contain;
}

#u16896:hover
{
	border-style: solid;
	border-color: #999999;
	width: 54px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
	border-width: 1px 0px;
	background: transparent url("../images/vector_tres_blanco.png") no-repeat center center;
	background-size: contain;
}

#u16896.PamphletThumbSelected
{
	border-style: none;
	border-color: #999999;
	width: 54px;
	height: 55px;
	min-height: 1px;
	margin: 0px 0px 1px;
	background: #333333 url("../images/vector_tres_blanco.png") no-repeat center center;
	background-size: cover;
}

#u16932
{
	position: absolute;
	width: 32px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 3px;
	top: 222px;
	left: 143px;
}

#u16933
{
	z-index: 119;
	width: 1px;
	height: 21px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-7,4);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-7,4);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-7,4);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#u16934
{
	z-index: 120;
	width: 1px;
	height: 21px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,8,3);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,8,3);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,8,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#pu16831-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 80px;
	margin-left: 30px;
}

#u16831-4
{
	z-index: 15;
	width: 900px;
	min-height: 37px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u16829
{
	z-index: 21;
	width: 900px;
	min-height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u16834-4
{
	z-index: 11;
	width: 900px;
	min-height: 37px;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 58px;
	position: relative;
}

#u16832
{
	z-index: 22;
	width: 900px;
	min-height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u16828-4
{
	z-index: 7;
	width: 900px;
	min-height: 37px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 49px;
	position: relative;
}

#u16826
{
	z-index: 20;
	width: 900px;
	min-height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u16731-4
{
	z-index: 3;
	width: 900px;
	min-height: 37px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 56px;
	position: relative;
}

#u16822
{
	z-index: 19;
	width: 900px;
	min-height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#pu16945
{
	width: 0.01px;
	padding-bottom: 45px;
	margin-right: -10000px;
	margin-top: -30px;
	margin-left: 364px;
}

#u16945
{
	z-index: 127;
	width: 234px;
	background-color: transparent;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -116px;
}

#u16945_img
{
	padding-right: 7px;
	padding-bottom: 2px;
}

#u16943
{
	z-index: 125;
	width: 31px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 12px;
	right: 130px;
	background: transparent url("../images/social_fb_sprite-u16322-fr.png") no-repeat center top;
	background-size: cover;
}

#u16943:hover
{
	width: 31px;
	height: 31px;
	min-height: 0px;
	margin: 0px;
	background: #000000 url("../images/social_fb_sprite-u16322-fr.png") no-repeat center bottom;
	background-size: cover;
}

.social_btn
{
	border-width: 1px;
	border-style: solid;
	border-color: #2B2B2B;
	border-radius: 200px;
	background: transparent url("../images/social_tw_sprite-ieu16322-fr.png") no-repeat center top;
	background: rgba(0,0,0,0) url("../images/social_tw_sprite.png") no-repeat center top;
	background-color: transparent;
	background-size: cover;
}

#u16942
{
	z-index: 124;
	width: 31px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 12px;
	right: 88px;
	background: transparent url("../images/social_twitter_sprite-u16321-fr.png") no-repeat center top;
	background-size: cover;
}

#u16942:hover
{
	border-style: none;
	border-color: transparent;
	width: 31px;
	height: 31px;
	min-height: 0px;
	margin: 0px;
	background: #000000 url("../images/social_twitter_sprite-u16321-fr.png") no-repeat center bottom;
	background-size: cover;
}

#u16944
{
	z-index: 126;
	width: 31px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 12px;
	right: 46px;
	background: transparent url("../images/social_youtube_sprite-u16323-fr.png") no-repeat center top;
	background-size: cover;
}

#u16944:hover
{
	width: 31px;
	height: 31px;
	min-height: 0px;
	margin: 0px;
	background: #000000 url("../images/social_youtube_sprite-u16323-fr.png") no-repeat center bottom;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

