header{
	width:100%;
	background:url(img/header.jpg)  no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 710px;
	position:relative;
	
	.pull-right{
		float:right;
	}
	
	h2{
		padding-top: 200px;
	    font-size: 4.5rem;
	    color: #FFF;
	    text-align: center;
	    line-height: 6rem;
	}
}

