section.container{
	
	
	h2{
		font-size: 2rem;
	}

	.graph-group{
		float:left;
		h2{
			font-size: 4rem;
		    margin-bottom: 40px;
			margin-top: 40px;
		}

		
		.slice text {
				font-size: 12px;
				font-family: Arial;
				fill:$crema;
			} 

		svg{
			margin-left:auto;
			margin-right: auto;
			display: block;
		}
	}

	.chart{
		padding:0;
		h3{
			font-size:4rem;
		}
		p{
			font-family:$akzidenz;
			font-size: 2rem;
		}

		li{
			width: 50%;
			list-style: none;
			float:left;
		}
	}

	

	/*sueldos concejales y donaciones*/
	
	.equipo{

		.persona{

			margin-bottom: 20px;

			figure{
				img{
					max-width: 100%;
					border-radius: 100px;
				}
			}
	
			.data{
				h3{
					font-size: 1.8rem;
					font-weight:normal;
				}

				.salario{

				}

				.graph-container{
					width:100%;
					line-height: 2.5rem;
					.etiqueta{
						padding-left:5px;
					}
					.main-percent{
						width: 100%;
						background:$gris;
						height: 25px;
						color:#FFF;
						margin-bottom: 5px;
					}

					.donacion{
						background:$rojo;
						height: 25px;
						float:left;
						color: $crema;
					}

					.real{
						background:$rojo_claro;
						height: 25px;
						float:left;
					}

				}
				p{
						font-size: 1.2rem;
						margin-top: 35px;
					}
			}
		}

		
	}


	/*end of sueldos concejales y donaciones*/
	
	/*subsidios*/

		.subsidios{

			table{
				width: 100%;

				th{
					border-bottom:1px solid;
				}

				td{

				}

				td,th{
					padding:10px;
				}

				tr:nth-child(even) {background: $crema}
				tr:nth-child(odd) {background: #FFF}
			}
		}

	/*end of subsidios*/
	
	
}

.main-texto{
	box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
	padding: 30px 70px;
    margin-top: -65px;
    border-radius: 10px;
    background:#FFF;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

@media all and (max-width: 850px) {
	.main-texto{
		padding:20px;
	}
}

.concejales{
	text-align:center;
	margin-bottom:40px;
	img{
		max-width: 222px;
		border-radius:50%;
		margin-left: auto;
	    margin-right: auto;
	    display: block;
	    margin-bottom: 20px;
	}

	.mail{
		font-family:$akzidenz;
	}
}

.equipo{
	text-align:center;
	img{
		max-width: 200px;
		border-radius:50%;
		margin-left: auto;
	    margin-right: auto;
	    display: block;
	    margin-bottom: 20px;
	}
	hr{
		display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid #ccc;
	    margin: 1em 0;
	    padding: 0; 

	    &.gobierno{
			background:$rojo_claro;
	    }

	    &.politica{
			background:$allo;
	    }

	    &.comunicacion{
			background:$azul;
	    }
	}

	.mail{
		font-family:$akzidenz;
	}

	.grupo{
		font-family:$akzidenz;
		float: left;
    	width: 90%;
    	font-weight: normal;
	    font-size: 1.8rem;
	}
	.glyphicon{
		font-size: 2rem;
		margin-top:-10px;
		cursor:pointer;
		&.gobierno{
			color:$rojo_claro;
	    }

	    &.politica{
			color:$allo;
	    }

	    &.comunicacion{
			color:$azul;
	    }
	}

	.bio{
		float:left;
    	width:100%;
   		background: $crema;
    	padding: 10px;
    	display: none;
  	}


	&.corte{
		clear:left;
		}
}

.barras{

	margin:20px 0 120px 0;
	h4{
		font-size:2.7rem;
		text-align: center;
	}

	h5{
		text-align: center;
	}

	.total{
		width:100%;
		background:$rojo;
		color:#FFF;
		padding:3px 0 0 15px;
		font-family:$akzidenz;
		font-size:2rem;
		height: 29px;
	}
	.donacion{
		background:$azul;
		color:#FFF;
		padding:3px 0 0 15px;
		margin-top:10px;
		font-family:$akzidenz;
		font-size:2rem;
		height: 29px;
		float: left;
	}

	.sueldo{
		background: $gris;
		float: left;
		color:#FFF;
		padding:3px 0 0 15px;
		margin-top:10px;
		font-family:$akzidenz;
		font-size:2rem;
		height: 29px;
	}

	.num_total{
		h4{
			color:$rojo;
		}
	}

	.num_donacion{
		h4{
			color:$azul;
			}
	}

	.num_sueldo{
		h4{
			color:$gris;
		}
	}
}

.page-template-page-cargos{

	.container h2{
		margin-top:50px;
	}
}