#menu-menu-principal{
		li{
			font-family: $akzidenz;
			font-size: 2rem;
			text-transform: uppercase;
			white-space: nowrap;

			a{
				color: #000;
				border-top:6px solid transparent;
			
			&:hover{
				border-top:6px solid $rojo;
				}
			}

			&.current-menu-item{
				a{
					color: $rojo;
				}
			} 

			&:hover{
				.dropdown-menu{
					display: block;
				}
			}
			
			.dropdown-menu{
				background: none;
				margin-top: -1px;
				width: 100%;
				li{
					background:#eadada;
					a{

					}

					&.active{
						a{
							background: none;
						}
					}
				}
			}
		}
}


