html{
	font-size: 62.5%;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-BoldCn';
  src: url('fonts/AkzidenzGroteskBE-BoldCn.eot?#iefix') format('embedded-opentype'),  url('fonts/AkzidenzGroteskBE-BoldCn.otf')  format('opentype'),
	     url('fonts/AkzidenzGroteskBE-BoldCn.woff') format('woff'), url('fonts/AkzidenzGroteskBE-BoldCn.ttf')  format('truetype'), url('font/AkzidenzGroteskBE-BoldCn.svg#AkzidenzGroteskBE-BoldCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background:$crema;
}

h1,h2,h3,h4,h5{
	font-family:$akzidenz;
	padding:0;margin:0;
}