/*fonts*/
$akzidenz:'AkzidenzGroteskBE-BoldCn';
$helvetica:'Helvetica Neue', Helvetica, Arial, sans-serif;
$myiriad:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
/*colors*/
$crema:#f5f4f3;
$gris:#373234;
$rojo:#c11e2a;
$rojo_claro:#c49091;
$allo:#e4d258;
$azul:#738ca7;